# © [2025] EDT&Partners. Licensed under CC BY 4.0.

Dockerfile
.dockerignore

.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*~
*.bak
.pytest_cache

venv
env

.vscode

*.log
tmp/

data
test.db
tests/
requirements-dev.txt