# © [2025] EDT&Partners. Licensed under CC BY 4.0.

venv
.venv
.env
.env.local
.vscode
.actrc
test.db
.python-version

__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
.cache/
.scannerwork/
temporary_files/
sonar-project.properties

.coverage
coverage.xml

storage/
logs/

temp/*