numpy==1.26.2
fastapi[all]
pandas
boto3
pydantic
scikit-learn>=0.24.2
requests
icecream
openai
pyjwt
starlette
python-dotenv
cryptography
sqlalchemy==1.4.25
psycopg2-binary>=2.9.6
asyncpg>=0.27.0
aiofiles
langchain
langchain-community
pdfminer.six
pymupdf==1.22.3
tiktoken
langchain-text-splitters
yt_dlp
beautifulsoup4
ffmpeg-python
opensearch-py
json_repair==0.44.1
python-docx
alembic
python-magic==0.4.27
filetype==1.2.0
langcodes
ebooklib
openpyxl
pypandoc
opencv-python
markdown
google-auth
python-jose
pywebpush
pylti1p3==2.0.0
strands-agents==1.4.0
strands-agents-tools==0.2.3
amazon-bedrock-agentcore
httpx==0.27.2
lxml==4.9.3
python-magic==0.4.27
SimpleIDML==1.2.0
selenium>=4.15.0